<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>backoffice</title>
    <link href=/js/about.0a7907f4.js rel=prefetch>
    <link href=/css/app.b72bf8ae.css rel=preload as=style>
    <link href=/js/app.b6c11875.js rel=preload as=script>
    <link href=/js/chunk-vendors.1068027b.js rel=preload as=script>
    <link href=/css/app.b72bf8ae.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script src=/js/chunk-vendors.1068027b.js></script>
<script src=/js/app.b6c11875.js></script>
</body>
</html>